
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Estilos del encabezado */
.header {
    position: relative;
    width: 100%;
    height: 120px; 
    background: linear-gradient(to right, #0073b7);
    overflow: hidden;
}

/* Logo */
.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logo img {
    height: 80px; 
}

/* Formas de fondo */
.background-shapes {
    position: absolute;
    width: 70%;
    height: 70%;
    background: url('background-shapes.png') no-repeat center;
    background-size: cover;
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: normal;
    
}
/* Estilos de la imagen principal */

.carousel-inner{
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: auto;
    border-radius: 2px;
      
}

.item{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    flex-shrink: 0;
    object-fit: cover;
}
.item input{
    display: none;
}

.contenedor-hero {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;


}


/* Sección de yates */
.contenedor {
    text-align: center;
    padding: 24px;
}

.contenedor h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Diseño de la galería de yates */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    max-width: 1300px;
    margin:  auto;
}

.yate {
    background: #f8f8f8;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.yate img {
    width: 100%;
    border-radius: 0px;
    margin: 0;
}

.yate h3 {
    font-size: 20px;
    margin: 15px 0;
}

.yate p {
    font-size: 16px;
    color: #1580eb;
    margin-bottom: 10px;
}

/* Botón de reservar */
.yate button {
    background: #003366;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.yate button:hover {
    background: #0055aa;
}

.playa4{
    text-align: center;
    margin: 0px;
    
    
    

}
footer {
    background-color: #0055aa;
    color: #fff;
    text-align: center;
    padding: 0px;
    max-width: 10;
    font-size: 14px;
    margin-top: 10px;
}

.footer-aliados{
    position: relative;
    margin: 0px;
    border: 0px solid;
    background-color: #fff;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 80px;  
    -webkit-text-fill-color: #1580eb;
    width: 100%;
    border:  3px solid DodgerBlue; 

}

.footer-aliados img{
    width: 30px 30;
    margin: 0px;
    object-fit: cover;
    text-align: center;

}

.h3-container{
    
    padding: 10px;
    background-color: white;
    position: absolute;
    top: -20px;
    left: 47%;
}


.footer-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footer-logo img {
    width: 150px;
    height: 100px;;
}

.footer-info,  .footer-contact {
    max-width: 200px 50px;
    text-align: left; 

}

.footer-social {
    max-width: 200px 50px;
    text-align:left ;
}


.footer-info ul {
    list-style: none;
    padding: 0;
}

.footer-info ul li {
    margin: 5px 0;
    padding-left: 2%;
}

.footer-info ul li a  {
    color: #fff;
    text-decoration: none;

    
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.footer-payment {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    margin-top: 20px;
    border:  3px solid DodgerBlue; 
    align-items: center;
    justify-content: space-evenly;
}


.footer-payment img {
    display: flex;
    width: 80px;
    margin: 5px;
    margin-left: 5;
}

.footer-legal {
    background-color: white;
    color: #0055aa;
    padding-top: 20px;
    font-size: 20px;
    
}